[2020-05-26 05:19] dayfine opened #632 "[Question] Clarify the limitation of mongomock.patch"
Hi I was trying to use `@mongomock.patch` but couldn't get it to work. The situation is that I am using the [mongodbio](https://github.com/apache/beam/blob/master/sdks/python/apache_beam/io/mongodbio.py) connector for Beam. It is this function that internally creates a mongodb connection. I can specify the uri it should use and patch that uri, but internally it cannot connect to that address, e.g.

[2020-05-28 14:07] HitLuca opened #634 "[Feature request] positional projection"
I have been using this library to mock my mongodb and found it extremely useful. I now have stumbled upon the issue that positional projection hasn't been implemented.
Is this a feature that would be feasible to add? If not, is there a workaround that I could use to mock that particular construct?

[2020-05-28 22:45] kmjonsson opened #635 "$pull $in for nested documents."
Hi!

This does not work the same way in mongo db (2.6.10) as in mongomock 3.19.

See examples below.
[code]

Using mongomock
[code]

With MongoDB
[code]

This is a scaled down example from a code I'm trying to add test coverage on. I have lot's of simular calls that I like to test.

[2020-05-29 07:35] pcorpet commented on #634
Hi @HitLuca , yes feel free to send a PR. Or at least a test case.

[2020-05-29 07:36] pcorpet commented on #631
It's a bug to raise an `OperationFailure` as it should raise a `NotImplmentedError`. However I think the real solution for you would be the implementation of the feature itself in mongomock.

[2020-05-29 07:50] HitLuca commented on #634
Sure, I don't feel very confident that I can implement that feature by myself as I don't know mongodb enough to understand its inner workings, but I will see what I can do

[2020-05-29 07:57] pcorpet commented on #634
The first step is to create a test case: post it here to be very clear what you are trying to implement. Then add it in `test__mongomock`: this is the file that makes sure we have the same behavior between pymongo and mongomock.

[2020-06-03 20:27] r0x0d commented on #632
I'm having the same problem as you, except that it's an inner class for a project I created, but the idea is similar. This class will return a new connection with mongodb via PyMongo, however, I can't use the patch to simulate a connection mock through it.

Any of the maintainers can help us? @pcorpet

[2020-06-04 19:01] pcorpet commented on #632
HI @dayfine the trouble is that `mongodbio` gets the `MongoClient` object before it gets patched (see [here](https://github.com/apache/beam/blob/master/sdks/python/apache_beam/io/mongodbio.py#L84). Therefore you would need to patch before any import of `mongodbio`.

@nicht, if it's in your won code I recommend using `MongoClient` like this:

[code]

(instead of `from pymongo import MongoClient`).

[2020-06-06 07:28] dayfine commented on #632
It sort of makes sense, but I am not sure what exactly to do. I've tried something like:
[code]
But this still connects the real db.

[2020-06-08 07:58] pcorpet commented on #632
Would it be possible that your test module already imports (directly or indirectly) the `mongodbio` module? if so, then it's cached.

[2020-06-18 12:27] languitar opened #637 "count_documents can't handle timezone-aware datetimes with tz_aware=True"
[code]

This happens with version 3.19.0

[2020-06-19 16:19] juannyG opened #638 "PyMongo 2.9.5 + mongoengine incompability - unexpected keyword argument 'snapshot'"
When running most mongomock versions against most `pymongo==2.9.5` + `mongoengine>=0.10.6` version, the following error is thrown:

[code]
This occurs with `mongoengine` versions from 0.10.6 all the way through 0.15.3 - maybe more but I was unable to test further version pairings.

Cause:
When [mongonengine is generating the cursor args](https://github.com/MongoEngine/mongoengine/blob/v0.15.3/mong

[2020-06-20 19:33] fopina commented on #350
Adding persistence to mongomock would allow to use pymongo/mongoengine for local development, without actually running a mongo instance, :+1: on that :)

[2020-06-29 13:41] anatoly-kor commented on #526
Hi everyone. I have the same bug. It looks like what bug in differences **pymongo.database.Database** and **mongomock.Database**. That's the reason for `TypeError: database must be an instance of Database` for GridFS.

[code]

[2020-06-30 10:28] anatoly-kor opened #639 "GridFS: TypeError: database must be an instance of Database"
Hi. I found some closed issues (#111, #526, #72). I have the same bug.
My thoughts: It looks like what bug in differences **pymongo.database.Database** and **mongomock.Database**. That's the reason for `TypeError: database must be an instance of Database` for GridFS.

[code]

The same error with **Collections**. If just comment lines of code with the checking instance in source code of GridFS all

[2020-07-07 21:41] caiquecp opened #641 "mongoengine field with db_field="id" doesn't work as expected"
Hello!

I'm using mongomock with mongoengine and I have a model (Document) with a field like `model_id = IntField(db_field="id")`. When retrieving it the model_id is being overriden with the _id (ObjectId). When I'm using MongoDB and not mongomock, this doesn't happen.

Something like:

[code]

[2020-07-07 22:45] miguelalvarezi opened #642 "$mergeObjects support"
First of all, thanks for this great library!

I'm trying to test an aggregation pipeline which includes a stage like the following:

[code]

I'm getting the following error:

[code]

I suppose the library doesn't support `$mergeObjects` yet. Am I right?

Thanks!

[2020-07-11 05:41] #632 closed, assigned to nobody

[2020-07-11 05:50] pcorpet commented on #642
You're right it's not implemented. Although I think it would be easy to add if you want to send a PR.

I'm fixing the "bug" that it's raising an OperationFailure instead of a NotImplementedError.

[2020-07-13 22:01] gwainer commented on #637
I may have stumbled in the same problem, but with another cause. This time using `$match` in aggregation.

Version 3.19.0

Similar example:

[code]

[2020-07-27 18:31] gwainer opened #647 "Support for '$regexMatch'"
Hello, Using MongoMock version `3.19.0`, I was testing aggregation using new `$regexMatch` operator from mongoDB version `4.2`. Here are the docs: https://docs.mongodb.com/manual/reference/operator/aggregation/regexMatch/ .

It seems it's not supported yet. The following error arises when running the test:

[code]

This would be a feature request. Thanks.

[2020-07-30 15:44] pcorpet commented on #647
yes new features are not always reported properly. I've just fixed it for next version: it should raise a `NotImplementedError`. Feel free to contribute to implement the actual feature.

[2020-07-31 15:35] kosqx opened #648 "mongomock is not compatible with pymongo 3.11.0"
The [just released](https://pypi.org/project/pymongo/#history) pymongo 3.11.0 introduced the `hint` parameter to the following methods:

- `add_update()`
- `add_replace()`
- `add_delete()`

This is causing the exceptions similar to:

[code]

[2020-07-31 15:57] pcorpet commented on #648
Yes, major bug. Thanks for finding it so quickly.

[2020-07-31 16:10] #648 closed, assigned to nobody

[2020-07-31 17:04] kosqx opened #650 "Falsy values in mongomock are different than in MongoDB"
In MongoDB only the following values are falsy (the values that are considered false when encountered in a boolean context):

- `false`
- `null`
- `0`
- `undefined`

The official documentation points to [this description](https://docs.mongodb.com/manual/reference/operator/aggregation/and/#and-boolean-behavior):

The Python (and in result also `mongomock`) have much longer list of falsy values. To

[2020-07-31 18:51] pcorpet commented on #650
You're totally right. Do you want to take on this bug?

[2020-08-01 07:03] #631 closed, assigned to nobody

[2020-08-01 14:00] #650 closed, assigned to nobody

[2020-08-01 20:00] felixonmars commented on #604
Still appears in 3.20.0.

[2020-08-03 16:25] pcorpet commented on #604
I can confirm the bug is due to a different timezone. I'll try to fix the timezone for this test or expect the proper result.

[2020-08-04 06:06] #604 closed, assigned to pcorpet

[2020-08-04 21:53] #637 closed, assigned to nobody

[2020-08-05 07:55] pcorpet commented on #614
I'm not familiar with all sessions features, however for the basics: consistency is guaranteed as we don't have network failures nor multiple nodes, but I'm worried about the rolbacks. If someone implements sessions, please raise a `NotImplementedError` when trying to rollback. The logic in `mongomock` is to implement all features are be very loud (raise an error) when a feature is not implemented

[2020-08-05 08:00] pcorpet commented on #638
Yes, in general we do not support older versions of pymongo for very long. However if you don't need the snapshot feature but merely the keyword arg I can definitively add it. It will raise a `NotImplementedError` if it's used with `True` though.

[2020-08-05 08:16] pcorpet commented on #638
Actually pymongo + MongoDB returns an OperationFailure (and not a TypeError) error when snapshot is not False, so I'm updating the code to reflect that. However I won't extend the compatibility to PyMongo 2.9.5, sorry.

[2020-08-05 13:44] juannyG commented on #638
Thank you for the response @pcorpet.

This was more to understand general version support, as I couldn't find anywhere in the README/docs an explicit pairing of supported versions of pymongo <---> mongoengine <---> mongomock

Feel free to close this issue at your discretion.

[2020-08-05 18:46] #638 closed, assigned to nobody

[2020-08-05 18:56] pcorpet commented on #641
Hi, I'm not sure how `mongoengine` works (I've never used it).

And I could not reproduce the same bug with mongomock only:
[code]

Maybe you can dig a bit more what's happening in mongoengine please?

[2020-08-05 21:49] pcorpet commented on #639
This is the reason we have `mongomock.gridfs.enable_gridfs_integration()` make sure you call it before using gridfs on a Mongomock instance.

Please reopen if it doesn't work for you or if you have an idea on documenting it better.

[2020-08-05 21:49] #639 closed, assigned to nobody

[2020-08-05 22:16] #635 closed, assigned to pcorpet

[2020-08-05 22:17] pcorpet commented on #630
I believe this is the same cause as #611

[2020-08-07 06:08] #630 closed, assigned to nobody

[2020-08-07 06:09] pcorpet commented on #611
Fixed by b1fb9fe

[2020-08-07 06:09] #611 closed, assigned to nobody

[2020-08-07 06:10] pcorpet commented on #584
Fixed by #636

[2020-08-07 06:10] #584 closed, assigned to nobody

[2020-08-07 06:10] pcorpet commented on #614
This is now a dupe of #564

[2020-08-07 06:10] #614 closed, assigned to nobody

[2020-08-11 07:18] languitar opened #653 "Invalid arguments to create_index are not captured"
Currently, you can construct illegal indexes that later break for instance `list_indexes`:

[code]

[2020-08-11 07:25] languitar opened #654 "create_index doesn't raise an error in case of duplicate indexes"
MongoDB itself cannot create multiple indexes with the same set of fields and sorting options. However, `create_index` in mongomock doesn't replicate this behavior:

[code]

Mongomock simply allows both calls to pass.

[2020-08-11 21:57] juannyG opened #655 "TTL index support - high level proposal"
While using
* mongomock==3.19.0
* mongonengine==0.20.0
* pymongo==3.10.1

I ran into an issue that appears with `update` that was resolved in https://github.com/mongomock/mongomock/pull/628

Sadly (for me) this was released in version 3.20.0 along side [a commit that raises a `NotImplementedError` when it sees TTL indexes](https://github.com/mongomock/mongomock/commit/cd034305d03534223db4b04d18252

[2020-08-12 07:44] pcorpet commented on #653
Thanks for reporting, we should raise a `TypeError` as soon as create_index is called.

[2020-08-12 07:58] languitar commented on #653
Thanks for quickly handling this. Btw. the `TypeError` used by `pymongo` also isn't very informative:

[2020-08-12 07:59] #653 closed, assigned to nobody

[2020-08-12 10:27] pcorpet commented on #653
Yep, sorry about that I just copied their code over and didn't take the time to set a better error message.

[2020-08-12 12:09] languitar commented on #653
I'm fine with that here. This is more a rant about the pymongo implementation details leaking through their API ;-)

[2020-08-12 22:37] pcorpet commented on #655
Thanks for asking first and sorry for the trouble the update caused you.

I think a more pragmatic approach could be a way to specify somehow to mongomock that you understand that TTL is not implemented and that you're OK with that in your tests (easy fix for you). That could be a more general framework where one would be able to silent many NotImplementedError while testing other features.

Howev

[2020-08-12 22:38] #654 closed, assigned to nobody

[2020-08-12 23:54] juannyG commented on #655
Thank you so much for your response!

With regards to the more pragmatic approach: that's actually a really great idea for the short term...a kind of `MONGOMOCK_TTL_OK` flag or something...another configuration/flag could also be used for `expireAt` indexes - to your point "a more general framework" which would add more controls for testers. In a sense, I'm thinking of it effectively being a "feat

[2020-08-13 13:35] languitar commented on #654
Thanks for fixing this!

[2020-08-13 16:46] pcorpet commented on #655
For the ignoring framework, please review #656.

Typically I would expect a user of `mongomock` to do:

1. create a collection
2. create an index with a TLL of 1h
3. insert some documents at NOW or at another given time
4. fake waiting 1h and a half
5. list the documents and realize that the ones that the correct ones are gone

As you can see the item 4 is quite problematic: either you need your t

[2020-08-13 19:12] juannyG commented on #655
RE: ignoring framework - makes sense. I had thought of a similar "function-state-tracking" approach, but wasn't sure if you might want some kind of "settings object" similar to Django or Django Rest Framework.

For "Monogmock time" - ahhh, ok - if that's an expected use case, I see what you mean now.

However, I feel as though that would be an additive feature. My reasoning here is - if I create a

[2020-08-13 19:21] victorct-pronto opened #657 "Sum returns incorrect value"
It seems to be `sum`  is returning the wrong value, I have the following schema:

[code]

When I execute the following code:

[code]

Here are some screenshots from my test suite:

![image](https://user-images.githubusercontent.com/56981448/90176066-0b109a80-dd6e-11ea-8b77-52fb6aacf2b3.png)

![image](https://user-images.githubusercontent.com/56981448/90176106-15cb2f80-dd6e-11ea-80ca-1b05fb372644.p

[2020-08-13 22:40] pcorpet commented on #655
For the ignoring framework, please review deeply it to hunt for bugs and add a comment with "LGTM" to the reviewing thread when you think I can push to the main branch.

Yep, I think your usecase would be covered without mocking time and would be enough to do some of the testing.

For mocking the time, I'd rather use a typical mocking pattern where `mongomock` uses a central function to get the cu

[2020-08-13 22:47] juannyG commented on #655
👍 👍 👍  - makes total sense

I'm currently working on ironing some issues on my local to get tox running (and _passing_) properly - most things work/pass - but I'm seeing odd errors here & there - definitely local configuration issues...but I'll get into the ignoring framework PR in the next few days.

Thanks again for all your input!!

[2020-08-14 06:13] pcorpet commented on #657
Hi @victorct-pronto , this is Mongomock, not mongoengine. I would appreciate if you could update the bug in a sense that made sense to those of us that are not mongoengine users. Thanks.

[2020-08-14 06:56] victorct commented on #657
@pcorpet of course I will do that first thing in the morning :)

[2020-08-19 07:47] pcorpet commented on #647
@gwainer please review #658. I'll wait for your "go" before I merge it.

[2020-08-20 18:34] #647 closed, assigned to pcorpet

[2020-08-21 17:55] hellocoldworld opened #662 "[Feature Request] Implement CodecOptions"
Is it desriable to implement codec_options kwarg to `Database.get_collection` call?

[2020-08-26 11:53] pcorpet commented on #657
Which morning? :-P

I've tried to reproduce, but I still don't understand how it works with mongoengine + mongo DB (without mongomock), so it's hard to replicate with mongomock.

[2020-08-27 13:15] smadarbmeir opened #664 "support boolean_operators in aggregate"
boolean_operation are not implemented on aggregate:

[code]

[2020-08-27 14:04] #655 closed, assigned to nobody

[2020-08-27 17:49] engFelipeMonteiro opened #665 "[Feature Request] add db.getCollectionNames()"
it can be easly implemented  with:
<pre>
mm = mongomock.MongoClient()['testDatabase']
...
processing
...
collectionNames =  [ x for x in mm._collection_accesses.keys()]
</pre>

[2020-08-28 15:32] #664 closed, assigned to nobody

[2020-09-11 12:25] impawan opened #666 "NotImplemented expression '$trim'"
I am using mongomock for testing a python method which performs the case insensitive comparison by trimming the extra space from begging and end. I am using $trim operator. During the unit testing, I am getting error as mentioned below.
pymongo.errors.OperationFailure: unrecognized expression '$trim'

please help me with this.

[2020-09-24 18:22] dannystaple opened #667 "Mongomock does not know how to sort Decimal128"
The scenario is that I am using Decimal128 to represent monetary data - in a fashion similar to https://docs.mongodb.com/manual/tutorial/model-monetary-data/#numeric-decimal.

A data sample:

`{'_id': 123, 'name': 'Tennis Racket', 'price': Decimal128('14.99')}`

The data, once in the DB is then queried with a greater than/less than type operation:
[code]

When I run a test using this, I get the fo

[2020-09-28 11:45] engFelipeMonteiro commented on #634
I was looking the unit test nas saw, it already have some unit test for this purpose.

test__update_one_unset_position
test__update_push_slice_positional_nested_field
test__update_push_position
test__update_push_negative_position

how do I execute this unit test?

[2020-09-28 11:55] engFelipeMonteiro opened #668 "unit test DeprecationWarning"
the unit test of this repository is using osolete method, in soon version it might stop working

<pre>
tests/test__mongomock.py::InsertedDocumentTest::test__remove_by_id
 ./mongomock/tests/test__mongomock.py:3649: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.
    self.collection.remove(self.object_id)

tests/test__mongomock.py::InsertedDocumentTest::test__remove_

[2020-10-01 13:22] hackndoes opened #669 "NotImplemented expression '$dateFromString'"
Mongomock doesn't implement the aggregation pipeline date operator dateFromString.

To recreate simply create an simple aggregation pipeline object

[code]
This will generate the issue

[2020-10-02 15:49] engFelipeMonteiro commented on #556
I made a fork that is from tag 3.20.0, and changed to work this operation.
I still have to make some things, but soon I will make a PR.
The changes in the current develop state I didn't got.

commit:
https://github.com/engFelipeMonteiro/mongomock/commit/3e1c68dc60035c8b06089eeaa37b5a381f1bb707

in the branch:
https://github.com/mongomock/mongomock/compare/develop...engFelipeMonteiro:positional_arg

[2020-10-03 15:43] pcorpet commented on #665
Hi @engFelipeMonteiro , thanks for the bug report.

I believe that `db.getCollectionNames` is using the mongo script syntax. Pymongo is using `db.list_collection_names` which is implemented in `pymongo`.

Feel free to reopen with more details if I got it wrong.

[2020-10-03 15:43] #665 closed, assigned to nobody

[2020-10-03 15:55] pcorpet commented on #668
Note that we want to keep some of them as we want to copy `pymongo` behavior. Once `pymongo` removes them we will stop using and testing them.

However for now those are used in many places even when they are not tested so I'll clean it up a bit.

[2020-10-03 18:39] pcorpet commented on #666
It's not implemented in `mongomock` yet.

We should at least return a `NotImplementedError`. The actual implementation of the `$trim` operator should also be doable, feel free to send a PR for that.

[2020-10-03 18:50] #668 closed, assigned to pcorpet

[2020-10-03 18:54] pcorpet commented on #662
Yes it is, I've been starting something around this but it's a bigger piece of work than what I originally thought.

What codec option would you like to use?

[2020-10-04 11:25] pcorpet commented on #662
@hellocoldworld would you take a look at #670 please? I'll welcome any details of code review that you can provide.

[2020-10-06 19:23] ktqj opened #671 "Incorrect behaviour for find_one_and_replace with ReturnDocument.AFTER and upsert."
I'm writing tests for a small shared lock implementation. Turns out mongomock's find_one_and_replace doesn't behave as expected. Here is a little snippet that works with real mongo and fails with mongomock:
[code]
It's because the implementation uses the query part from `find_one_and_replace` for `find_one` even though it can't be expected to match a replacement document.

[2020-10-06 19:55] hellocoldworld commented on #662
Hello @pcorpet ! My primary use was for a very very specific function using `codec_options=CodecOptions(document_class=RawBSONDocument)`, bu I desisted (for now). Anyways I looked at your PR and seems like fantastic startign point too extend in the future! Thank you so much for your time.

[2020-10-08 08:10] #671 closed, assigned to nobody

[2020-10-15 06:46] calcoloergosum opened #673 "Query Condition on a Field in an Array of (Nested) Documents"
## Summary
[Mongodb documentation specifies](https://docs.mongodb.com/manual/tutorial/query-arrays/#query-an-array-for-an-element):

[It should work the same for nested documents too](https://docs.mongodb.com/manual/tutorial/query-array-of-documents/#specify-a-query-condition-on-a-field-embedded-in-an-array-of-documents).
However, the behavior of mongomock is different from specified above.

## Re

[2020-10-15 07:06] calcoloergosum commented on #673
### Possible Test Case Addition

In the following test case,
https://github.com/mongomock/mongomock/blob/8909c05cbc7742d130967007231c118c8e5d8744/tests/test__collection_api.py#L4324

two lines below should be enough
[code]

[2020-10-21 16:03] fnadav opened #675 "Collation not supported for `Collection.update_many()`"
While using pymodm to update with query set, i have received the following error:

[code]
i understand from the docs and previous issues (#369, #378) that collation is not really supported,
but like in #378, it seems pretty straightforward: add collation=None as a keyword to the update_many method.

**possibly relevant info:**
python: 3.6.1
pymodm: 0.4.3
mongomock: 3.9.0

[2020-10-25 20:57] #675 closed, assigned to nobody

[2020-10-26 08:19] fnadav commented on #675
Thank you for the prompt response! it works now :+1:

[2020-10-28 11:18] lauevrar77 opened #677 "Add support for $map"
Hi,

Would it be possible to add support for $map operation in aggregations ?

I just added this operation to a database query and it breaks around 30 tests in my codebase.

Yours,

Laurent

[2020-10-28 11:35] lauevrar77 commented on #677
I took a look in the code and I saw that the main problem is the "function definition" in the $map.
However, I think an implementation would be possible if we consider that the function definition is just a "$project" with appropriate parameters. Is that really a potential way to go ?

[2020-10-28 13:04] bogdanvconstantin opened #678 "Add support for custom TypeRegistry"
Hello,

We use mongomock to patch the PyMongo MongoClient in our unittests.

In our database we use a custom TypeCodec to instantiate the TypeRegistry and in turn the CodecOptions.

The call to `get_database(database or name, codec_options=codec_options) ` with the patched MongoClient raises the following Error:

[code]

Can you please help us solve this issue? This behaves fine in PyMongo.
Please

[2020-11-10 14:46] edwardcjohnson commented on #669
+1 for this request

[2020-11-13 20:09] pcorpet commented on #678
Hi @bogdanvconstantin , I've recently added a basic codec_options implementation so that's a first step towards TypeRegistry.

However `TypeRegistry` loads and saves from bson format, whereas mongomock only sores python objects. Therefore it might not be easy to make it work. I have never worked with those: could you share your code for the TypeCodec please? that could help test things and maybe i

[2020-11-13 20:11] pcorpet commented on #677
For reference you're writing about [$map](https://docs.mongodb.com/manual/reference/operator/aggregation/map/). Yes I believe the implementation should be doable. PRs are welcomed.

[2020-11-13 20:12] pcorpet commented on #662
This has been implemented in #670.

[2020-11-13 20:12] #662 closed, assigned to nobody

[2020-11-24 15:15] upcFrost opened #679 "Negative limit returns empty"
Hi,

I've spotted some issues with negative limits in mongomock, they seem to return an empty batch. According to the doc, they should return the first batch similar to their positive counterparts, but they should close the cursor after that (https://docs.mongodb.com/v4.2/reference/method/cursor.limit/#negative-values)

mongomock from git from https://github.com/mongomock/mongomock/commit/5fe78c70

[2020-11-26 07:17] arjunspanicker opened #680 "mongomock throws error on count operation"
I have a method where i need to find the count of document in a collection
i have  a team collection `Class Team` and mocking using mongo mock it throw the error`'Cursor' object has no attribute '_Cursor__spec'` query used is`Team.objects.count()`

[2020-11-28 21:56] pcorpet commented on #679
Indeed, that's not OK. We should at least raise a NotImplementedError if we cannot implement the normal pymongo behavior.

[2020-11-30 21:15] victorct-pronto commented on #570
Hello, guys first of all thank you so much for the library, we highly use MongoDB and many of their `geo` queries, is there any update on this, if not @wessm I would be happy to see the implementation with `shapely`  and create a PR for the library.

[2020-12-02 10:35] luca-drf commented on #680
I'm facing the same problem using MongoEngine as described in https://github.com/MongoEngine/mongoengine/issues/2425

[2020-12-02 20:21] victorct-pronto commented on #680
Same here, it seems to be that from `mongoengine==0.21.0` the crash appears

[2020-12-04 04:51] adler0311 opened #682 "AttributeError: 'Cursor' object has no attribute 'collation'"
Hi,
I am trying to use mongomock collation method and there is no problem working collation on mongoengine.
But, when I test this with mongomock, there is an error:

[code]

I'm currently using mongoengine "^0.20.0" and mongomock "^3.20.0"

Thank you.

[2020-12-04 09:31] pcorpet commented on #680
I've pinged the original bug on mongoengine: I believe it's not a feature that mongomock should implement given that `_Cursor__spec` is not part of the public API of `pymongo`

[2020-12-06 12:54] #682 closed, assigned to pcorpet

[2020-12-13 22:28] pcorpet commented on #680
The original bug MongoEngine/mongoengine#2425 has been fixed another way. Closing this.

[2020-12-13 22:28] #680 closed, assigned to nobody

[2020-12-18 09:39] ilyaukin opened #683 "$arrayElementAt applied to $filter returns no result"
For some field in `$project` aggregation stage, pass `$filter` as array in`$arrayElemAt` aggregation operator.
Expected: this field should be calculated correctly
Actual: this field is not in the result

Test to reproduce this: https://github.com/ilyaukin/mongomock/commit/2a9fd445aba961d058fc6e31274f90a8e5960352

[2020-12-28 22:23] #679 closed, assigned to nobody

[2020-12-29 18:16] C2N14 opened #685 "Aggregation operator $toLong not implemented"
Trying to use the aggregation pipeline operator [`$toLong`](https://docs.mongodb.com/manual/reference/operator/aggregation/toLong/) results in `pymongo.errors.OperationFailure: Unrecognized expression '$toLong'` using mongomock.

[2020-12-31 13:36] arunl commented on #595
I have initiated PR #686 to address this issue. If needed the original is available in my repo.

[2021-01-04 16:13] chdsbd opened #687 "createIndex don't support partialFilterExpression"
I noticed that the partialFilterExpression argument for [createIndex](https://docs.mongodb.com/manual/core/index-partial/#create-a-partial-index) isn't respected for mongomock.

[code]

[2021-01-08 11:25] alexgawrilow opened #688 "Adding time interval to date objects in aggregation pipeline not working"
I want to be able to add some time interval (hours in my case) given by one field _hour_, to a date given by another field _(date)_ to create a new field (_datetime_) in an aggregation pipeline , i.e. performing the equivalent operation to `datetime.datetime(year, month, day) + datetime.timedelta(hours=hour)`. From what I know there is no such timedelta object in bson **(please correct me if I'm w

[2021-01-13 09:31] ee987 opened #691 "Newly added typing stubs not consistent with documentation"
Typing stubs added recently in https://github.com/mongomock/mongomock/commit/dda5096d9bb68f89a8a47643ba7b8296deed195f is not compatible with documentation from README where servers is a Sequence[Tuple[str,int]]:

Type-annotations:
`def patch(
        servers: Union[str, Sequence[str]] `

README:
`@mongomock.patch(servers=(('server.example.com', 27017),))`

This blocks us from upgrading from 3.21 t

[2021-01-14 08:21] pcorpet commented on #691
Sorry about that. Working on a fix, and some CI checks to make sure we don't have regressions on types.

[2021-01-14 08:27] #691 closed, assigned to nobody

[2021-01-17 22:33] elbehery95 commented on #244
What if mongomock provides some factory that returns an async wrapper for pymongo ? would this be enough for testing async based logic ?

E.g
[code]

[2021-01-21 03:05] denivyruck opened #694 "RuntimeError when mutating while iterating an OrderedDict"
Hi all. I have a **multithreaded** test which is yielding me some `RuntimeErrors (RuntimeError: OrderedDict mutated during iteration)`. I couldn't isolate the issue yet, but I thought it would be helpful to already share it. I found on `store.py` there's a lock being used for the `setitem` but not for the `delitem`. That ringed me a bell but it didn't fix the issue.

**Version: 3.22.0**

[code]

I

[2021-01-21 11:52] denivyruck commented on #694
I think this relates to #229. Was it fixed? Sorry I should've checked previous issues.

[2021-01-22 02:36] denivyruck commented on #688
I assume the resulting type would be the first argument ($date)? Will do some research later.

[2021-01-24 21:15] #641 closed, assigned to nobody

[2021-01-24 21:15] #657 closed, assigned to nobody

[2021-03-09 07:22] mchfrnc commented on #536
Hello @pcorpet, is there any chance for this to be implemented soon?
Thank you!

[2021-03-11 08:39] pcorpet commented on #536
Thanks for pushing, I'm almost there for #535 which will is a big step for implementing `let`

[2021-03-11 23:05] #535 closed, assigned to pcorpet

[2021-03-23 09:11] lmoretto commented on #536
Hello @pcorpet
I have the same issue. I just tried the latest develop version, which includes https://github.com/mongomock/mongomock/pull/698, but I still get an error when using `$let` in a `$lookup` stage (https://docs.mongodb.com/manual/reference/operator/aggregation/lookup/#join-conditions-and-uncorrelated-sub-queries):
[code]

[2021-03-24 12:35] Seluj78 opened #699 "Faking a connection error"
Hi, for some tests I'm writing I'd like to be able to fake an error with my mongodb connection status

Here's the part of code that needs to be tested

[code]

Does mongomock support faking a connection error ?

[2021-03-26 09:02] tsklara opened #700 "$concatArrays doesn't seem to handle when it should replace variable inside a list"
I found that in my test this: ` {'$concatArrays': [['$_id'], '$children._id']} `will result this:` ['$_id', 2, 3] `instead of replacing `'$_id'` with its value.

[2021-04-01 21:47] pcorpet commented on #699
We do not support that at the moment, although I'd love to find an elegant way to provide it. If you have an idea of an interface that you'd like to use, it might help implementing it: how would you declare to `mongomock` that a connection should raise an error?

[2021-04-02 07:43] Seluj78 commented on #699
Here's how we check if our mongoDB connection currently works (for our `/health` route)

[code]

As for my tests, I'd like to find a way to have two tests, one that works and one that doesn't.

Maybe there could be a command sent that would work on a real mongoDB client but returns a connection error in mongomock ?

[2021-04-02 08:01] Seluj78 commented on #570
Hi! any news on this ?

Also, I'm wondering why this wasn't implemented in the first place ? I find a lot of operations aren't available :/

[2021-04-02 10:46] pcorpet commented on #570
Sorry for not answering earlier. I like the idea of using `shapely` library if it's installed and throw a `NotImplementedError` telling you to install it if not. @wessm @duncaneddy feel free to send a pull request. Make sure you add a proper Travis check with and without the shapely lib.

@Seluj78 mongomock has no claim on having all features of MongoDB. Check out https://github.com/mongomock/mong

[2021-04-02 12:42] Seluj78 commented on #570
Fair enough ! I was just wondering and I didn't read through the whole reamde, my bad!

[2021-04-07 14:05] evandrocoan opened #702 "NotImplementedError: $accumulator is not a valid group operator for the aggregation pipeline"
I am trying to use this project to mock this `$accumulator` operator, but looks like it is not implemented yet.
[code]
Looks like the accumulator operator was added in version 4.4 of mongodb: https://docs.mongodb.com/manual/reference/operator/aggregation/accumulator/

How much difficult would be to implement this operator support for `mongomock`?

Is there a pull-request which would be used as exe

[2021-04-13 07:51] m-aciek opened #703 "SyntaxWarning in aggregate module in Python 3.9.1"
`aggregate` module emits a following SyntaxWarning under Python 3.9.1:

[code]

[2021-04-18 18:49] #607 closed, assigned to nobody

[2021-04-18 21:21] pcorpet commented on #536
Yes, the `let` + `pipeline` in `$lookup` is not implemented yet. What was added is the `$let` operator (https://docs.mongodb.com/manual/reference/operator/aggregation/let/).

There is still some more work to make the pipeline step starts another pipeline although it should be doable now.

[2021-04-22 01:57] danielstandby commented on #685
Hi, are there any plans to fix this soon? I mean to support $convert and $toLong operations?

[2021-04-22 07:36] pcorpet commented on #685
There's no "plans" as such in this project as it's only supported by volunteers and we [don't aim for completion](https://github.com/mongomock/mongomock#important-note-about-project-status--development). Feel free to send a PR to add the feature, or at least adequate tests.

[2021-04-23 03:18] danielstandby commented on #685
Hi, Ok. I've got the PR ready in a branch called support-tolong that comes from develop. Already passed tox. But I can't push that branch to be able to make the PR. Can you guide me a little there?

[2021-04-23 07:27] pcorpet commented on #685
Great news!
If it's the first time you're contributing to OpenSource, I suggest you
take a look at a tutorial for instance
https://opensource.com/article/19/7/create-pull-request-github

Tell me if you're stuck somewhere.

Le ven. 23 avr. 2021 à 05:19, danielstandby ***@***.***> a
écrit :

--

<https://www.bayesimpact.org/>

Pascal Corpet

Cofounder & CTO

+33 7 82 63 32 32

bayesimpact.org <https

[2021-04-23 14:52] danielstandby commented on #685
Yeah you got me there.  First time :P
I've done the PR using the guide you provided.
Thank you

[2021-04-24 18:29] ghost opened #706 "$in operator not behaving like mongodb"
Hello,

$in operator behaves differently in mongomock than in mongodb.

For this document {'key': []}
Do a find with filter {'key': {'$in': [None, '', []]}} will not match the document in mongomock, but will match the document in mongodb.

Thanks for your help,

[2021-05-04 22:54] danielstandby commented on #669
+1 for this request

[2021-05-05 18:22] JuanDanielGutierrezBotero05 commented on #685
hi, any plan to integrate this PR https://github.com/mongomock/mongomock/pull/705, to add support to this aggregation?

[2021-05-11 02:27] wimglenn opened #707 "Compatibility between `mongomock` v3.21+ and `pymongo` v2.9-"
in mongomock <= 3.20.0

[code]

after mongomock >= 3.21.0

[code]

What's changed, or am I doing something wrong? could not see anything obvious in the changelog

[2021-05-24 07:50] m-aciek opened #709 "Pylint Travis check fails due to pylint-quotes and recent pylint incompatibility"
[Refer here](https://github.com/edaniszewski/pylint-quotes/issues/24) to the origin of the issue.

We can either wait for
* merge of a fix in pylint-quotes,
* a new pylint release (https://github.com/PyCQA/pylint/issues/4420#issuecomment-828747092)
* or go with issue poster's suggestion of using pylint's built-in check-quote-consistency.

[2021-05-24 11:39] ml-evs opened #710 "{<field>: {"$size": 1}} returns documents with <field> missing"
When performing a `$size` query on a field that does not exist in any document, if the queried size is 1, then mongomock returns all documents (in contrast to pymongo).

### MWE:

- Python 3.9.5
- mongomock 3.22.1/3.22.2.dev8 and pymongo 3.11.1 from PyPI on x86 Linux
- underlying real MongoDB created with `docker run -p 27017:27017 --name test_mongo -d mongo:4.4.6`/

[code]

Returns:

[code]

[2021-05-24 12:37] edaniszewski commented on #709
not sure where this sits, but a new version ([0.2.2](https://pypi.org/project/pylint-quotes/0.2.2/)) of pylint-quotes was just released

[2021-05-24 16:48] lucasrcezimbra opened #712 "Update $set with operator $[] is not working"
[Operator `$[]`](https://docs.mongodb.com/manual/reference/operator/update/positional-all/#---) should update all the elements of an array, but in Mongomock it's raising an exception.

Mongo behaviour:

[code]

Example:
[code]

Error:
[code]

[2021-05-24 20:18] #710 closed, assigned to nobody

[2021-05-24 20:55] m-aciek commented on #709
Thank you @edaniszewski, it is fixed now: https://travis-ci.org/github/mongomock/mongomock.

[2021-05-24 20:55] #709 closed, assigned to nobody

[2021-05-25 10:25] #685 closed, assigned to nobody

[2021-05-27 11:13] RobbieClarken opened #713 "Aggregation query output differs from pymongo when grouping with falsey _id value"
The following snippet with an aggregation query produces different output for mongomock compared with pymongo:

[code]

It can be run with:

[code]

The output is:

[code]

The same output is produced for any falsey value supplied to `_id` in the `$group` dictionary, such as `0`, `False`, `""`.

If you use a truthy value like `True`, `1`, `"hi"` then the mongomock output matches pymongo:

[code]

[2021-06-06 13:29] pcorpet commented on #707
Thanks for opening the bug, do you have `pymongo` installed?

[2021-06-06 13:32] pcorpet commented on #707
I wasn't able to reproduce using
* `Python 3.9`
* `mongomock 3.21.0`
* with or without `pymongo 3.11.4`

[2021-06-06 18:22] wimglenn commented on #707
Sorry for not being specific enough - to reproduce the issue, pymongo 2.x should be installed (I was using 2.5.2, but seems to happen with anything between 2.1 and 2.9.x).

There's no error when pymongo is not installed, nor with pymongo >= 3.0 installed.

[2021-06-07 06:07] yuwon opened #714 "Support `let` in lookup operator"
In my test cases, I need to cover `lookup` stages with `let` operators.
It seems like some effort on this enhancement is under development in https://github.com/mongomock/mongomock/commit/401210a2b92242a5668506b76e95c3dafe8dca5e

Any plan to make a release with the feature?

[2021-06-18 10:26] JPBergsma opened #715 "Double negation does not work in mongomock e.g. {'$not': {'$not':"
MongoDB correctly handles queries with double negation. Mongomock however returns :
`pymongo.errors.OperationFailure: unknown operator: $not`

This is the filter that failed with mongomock
{'$and': [{'pretty_formula': {'$not': {'$not': {'$regex': '^Ag2'}}}}, {'pretty_formula': {'$ne': None}}]}

[2021-06-24 13:22] #622 closed, assigned to nobody

[2021-07-14 16:46] hellocoldworld opened #717 "Documentation for mongomock"
Mongomock is growing to a certain degree of complexity, so I think it would be reasonable to start working on a documentation site. This can be a long and painful journey, so it should be aimed as a long-term task - if that's what the mainteners want for mongomock.

Ideally I think it should cover at least:
- Requirements and Installation
- Extended examples/tutorial on how to do the most common u

[2021-07-15 09:57] ee987 commented on #714
I think this duplicates https://github.com/mongomock/mongomock/issues/536

[2021-08-11 13:00] johngriebel opened #718 "Some Array Expression Operators Are Not Supported"
When running my application's unit tests, I get the error `pymongo.errors.OperationFailure: Unrecognized expression '$first'`. When I do something like this:
[code]

The error is raised in `aggregate.py` because `"$first"` is not found in the `array_operators` list. It seems a handful of others are missing as well. Is this perhaps intentional, or is this something that could be added? I would be m

[2021-08-27 14:23] quaxsze opened #719 "Mongoengine GenericReferenceField prevents object from being found."
When using MongoEngine with MongoMock, ReferenceFields work fine, but using GenericReferenceFields return always `None`.
The following snippet reproduces the problem:
[code]

When replacing the `GenericReferenceField()` by `ReferenceField('User')`, the article is found.

[2021-09-02 12:23] pcorpet commented on #719
Thanks for the report. Unfortunately, I'm not familiar enough with MongoEngine so it's hard for me to understand the issue. Maybe if you can refine a bit more by looking at MongoEngine's code and how it calls mongomock's API, it would be easier to investigate?

[2021-09-02 12:45] pcorpet commented on #718
Yes please, add them at least to raise NotImplemented exception instead of OperationFailure.

[2021-09-07 08:10] quaxsze commented on #719
Hello,

The query made by the line `Article.objects(author=user.id).first()` is `{'author._ref.$id': ObjectId('61371dd73b32f1c00489f00e')}`
The `_ref` part seems to be the problem.

[2021-09-28 18:29] engFelipeMonteiro opened #720 "bson.errors.invalidDocument: key * must not contains '.'"
When using a real mongodb database I can include a entry like a below, but in mongomock it not possible.

{"object.name": value}

When I add this in real database it works, but in mongomock doesn`t.

[2021-10-01 13:03] sknopp opened #721 "Inheriting from MongoClient results in Recursion error"
I'm trying to implement a simple namespacing feature for Mongo databases using an inherited class from `pymongo.MongoClient` where i override the clients `__getitem__` method.

[code]

Now i define the following test to insert sample data in a "namespaced database" while using `mongomock`:

[code]

The approach fails with a "Recursion error" when initializing the `NamespacedMongoClient` instance (

[2021-10-04 09:06] sknopp commented on #721
i resolved the recursion error by using the super-method within `__getitem__` instead of importing `pymongo.database.Database` again within `NamespacedMongoClient`.

Now everything works as expected!

[2021-10-04 09:06] #721 closed, assigned to nobody

[2021-10-04 09:12] sknopp opened #722 "`MongoClient.get_database()` is missing keyword argument `read_concern`"
`pymongo.MongoClient` `get_database()` method signature:

[code]

`mongomock.MongoClient` `get_database()` method signature:

[code]

Overriding `get_database()` is currently only possible when `read_concern` parameter is omitted.

[2021-10-18 17:31] Triansh opened #724 "TypeError with update_many in mongomock"
I was running unit tests for a flask application using pytest. The API works perfectly well in the development environment using pymongo. But when I was running the test for this API, it gave me an error.
[code]
I am using a similar type of call in API shown below.
[code]
My other tests are working fine, so I don't believe there is an error in patching.

[2021-10-25 10:41] odidev opened #725 "Add test support for linux aarch64"
Hi Team,

I tried testing **mongomock** package on Arm64 architectures but it is generating different result from Amd64 for `tox` command with different environments of pymongo with the assertion error:
[code]
I checked the documentation but nothing related was found. Also tried to analyze these values on both architectures but it didn’t helped either.
Other two `tox environement without pymongo e

[2021-11-05 03:12] Tyler-Yates opened #726 "distutils package is deprecated in Python 3.10"
The distutils package is deprecated in Python 3.10 and will be removed in Python 3.12. This package is used within mongomock:
[code]

The deprecation is documented in more detail here: https://www.python.org/dev/peps/pep-0632/
They recommend that usages of `distutils.versions` switch to using the `packaging` package.

[2021-11-22 20:54] Goldziher commented on #244
this would be great @elbehery95

[2021-11-24 18:35] rosslagerwall opened #728 "Changing find_one() result unexpectedly changes value stored in the database"
Hi,

I've encountered a bug in Mongomock where changing the dict return value of `find_one()` changes the actual value that is stored in the database. This is different behaviour compared with MongoDB.

Here is a short test case:

[code]

[code]

I'm using version 3.23.0. Thanks.

[2021-11-30 22:38] mflynn-lanl opened #729 "Implement `list_collections` method on Database"
I want to test if a collection is in a mongodb. Here is a simple test that reproduces the error:
[code]

[2021-12-06 07:26] thequilo opened #730 "TypeError: if no direction is specified, key_or_list must be an instance of list with gridfs and pymongo 4.0"
This issue came up while disscussing failing tests in the sacred package in IDSIA/sacred#852. The provided example works with pymongo <4.0 but fails with pymongo 4.0.

Contents of `test.py`:
[code]
Error message:
[code]

[2021-12-07 00:02] travisfraser commented on #703
Also emits a warning under Python 3.8.6.

[2021-12-09 13:14] oussjarrousse commented on #730
I have a good fix for this issue... But I am not sure how to contribute to this project...

[2021-12-09 13:35] oussjarrousse commented on #730
I hope this helps @thequilo !

[2021-12-09 13:46] oussjarrousse commented on #730
The issue here is that at the end of the `s.put()` command, the grid_fs client `s` is trying to ensure the collections `db.fs` and `db.chunck` has indexes, by calling `GridIn.__ensure_indexes()` in https://github.com/mongodb/mongo-python-driver/blob/master/gridfs/grid_file.py that in turns calls the GridIn`__create_index(self._coll.files, index_key, false)` with the `index_key = SON([("filename",

[2021-12-09 14:19] thequilo commented on #730
@oussjarrousse Thank you! #731 resolves the `TypeError`.

[2021-12-12 09:31] Sriharan-Manogaran commented on #528
Hi @pcorpet,
I would like to know is there any update for this issue. We are excited to use this.

[2021-12-13 12:00] ehiggs-deliverect commented on #703
This was introduced in 3.8: https://bugs.python.org/issue34850

[2021-12-14 12:58] n7-Thomas commented on #678
Hi @pcorpet,

I am having the same problem as @bogdanvconstantin while trying to insert numpy arrays in mongomock.
This is the TypeCodec I am using, which should be really close to Bogdan's.

[code]
Then, I call mongo db with `db.get_collection(name, codec_options = codec_options)`

I used to transform arrays into Binary before inserting into mongo, which worked well with pymongo and mongomock.

I

[2021-12-15 07:19] msenol86 commented on #569
How can I solve this problem? I am testing a code which start a session but does not use it anywhere.

[2021-12-15 19:11] wimglenn commented on #707
@pcorpet  ping?

[2021-12-20 22:40] pcorpet commented on #707
Thanks for updating the bug and sorry for the long silence. I think that you know one obvious way to fix it would be to upgrade pymongo or keep mongomock to an earlier version.

These days `pymongo` is moving on (version 4) now and I'd rather spend time fixing forward rather than keeping backward compatibility. I'll check quickly tonight if I can support pymongo 2.5.2 without too much hastle.

[2021-12-20 23:36] pcorpet commented on #707
I've tried a bit and couldn't find on how to easily install `pymongo` v2.5.2 or even any v2.x. This is because the `setup.py` uses `setuptools` features that are now gone and I'm not sure how to downgrade `setuptools` in tox. As a result I have a hard time setting up a test environment: I see how I can fix the issue at hand though I'd rather not fix it until we have an automated way to avoid regre

[2021-12-21 09:39] #703 closed, assigned to nobody

[2021-12-21 09:42] #726 closed, assigned to nobody

[2021-12-29 19:43] guludo opened #733 "Support for aggregation pipelines in updates"
Hi there,

It seems that aggregation pipeline as argument to an update operation is not implemented yet in mongomock. That feature was introduced in version 4.2 of MongoDB.

Best regards,
Gustavo Sousa

[2022-01-03 05:21] wimglenn commented on #707
The app this was encountered on was still running on Python 2.7.  I've now bitten the bullet and changed it to a Python 3.9 deployment, along with pymongo 3.x upgrade, so we're no longer blocked on mongomock <= 3.20.0 anymore.

Feel free to close this issue.

[2022-01-03 07:58] pcorpet commented on #707
OK thank you. I'll close this issue then.

[2022-01-03 07:58] #707 closed, assigned to nobody

[2022-01-04 14:41] sschiessl-bcp opened #736 "list_collection_names should support kwargs"
The function `list_collection_names` supports kwargs https://github.com/mongodb/mongo-python-driver/blob/master/pymongo/database.py#L683 and should also do so in mongomock, otherwise a call like this will fail

[code]

[2022-01-05 16:38] guludo commented on #733
FYI, I have started a patch for this... A PR should be coming soon...

[2022-01-06 14:24] guludo opened #740 "Add support for $unset"
For reference: https://docs.mongodb.com/manual/reference/operator/aggregation/unset/

[2022-01-06 14:31] guludo opened #741 "Add support for $replaceWith"
For reference: https://docs.mongodb.com/manual/reference/operator/aggregation/replaceWith/

[2022-01-17 21:09] pcorpet opened #744 "Get ready for pymongo v4"
Many changes have happened between pymongo v3 and v4. Let's track the changes required to be ready for major release of `mongomock` that supports both `pymongo` v3 and v4. See [migration guide](https://pymongo.readthedocs.io/en/stable/migrate-to-pymongo4.html) for `pymongo`.

* [x] Drop official support for python 2
* [x] Update the CI to test both for pymongo v3 and pymongo v4 (that would need to

[2022-01-18 12:39] pcorpet commented on #730
Fixed in commit 151e12b

[2022-01-18 23:10] pcorpet opened #745 "Support UUID representation"
As of `pymongo` v4+, it should error if used with default representation (Unspecified).

We could implement a first feature that accepts custom representation, and only fails (NotImplementedError) if writing/reading/comparing in different uuid representations for the same server. Otherwise if it's not Unspecified, we could handle UUID the same way we did before pymongo v4.

[2022-01-20 08:25] adFrank commented on #712
@lucasrcezimbra I am facing the exact same problem. Any news on this?

[2022-01-20 13:52] lucasrcezimbra commented on #712
@adFrank No news. I think the bug persists.

[2022-01-24 21:05] jonahlibrach opened #746 "When we're done with a test, what is the recommended way to destroy the memory used?"
If using the mongomock client as a global object, is there any other way to free up the memory consumed other than calling `drop_database`?

Looking in the source, `MongoClient.close()` does nothing, i.e `pass`.

I'm not too certain on the internals of python's garbage collection, but if I were to just reinstantiate the client, should I be concerned about memory leaks?

Thanks in advance!

Jonah

[2022-01-27 15:36] David-Taub opened #747 "Add support to $isNumber"
For refernce: https://docs.mongodb.com/manual/reference/operator/aggregation/isNumber/

[2022-01-27 15:37] David-Taub opened #748 "Add support for $ifNull with multiple input expressions"
for reference: https://docs.mongodb.com/manual/reference/operator/aggregation/ifNull/

[2022-01-31 07:25] #744 closed, assigned to pcorpet

[2022-01-31 12:48] niklasj opened #750 "distinct fails for array field with dicts"
A TypeError is raised when `distinct` is performed on an array field with dict values.

In mongodb:
[code]

In mongomock:
[code]

[2022-02-01 22:37] pcorpet commented on #736
Actually this is a bad example as such a command would also fail using pymongo with a:
[code]

I don't think there's a strong benefit in getting the right error type: your code should avoid those calls. Please reopen if I've missed something.

[2022-02-01 22:37] #736 closed, assigned to nobody

[2022-02-01 22:43] pcorpet commented on #729
There's a bug as the error we should throw is `NotImplementedError`, however actually implementing the list_collections is a feature. If you merely want to check the list of collections created, please use `list_collection_names`.

Otherwise feel free to send a PR to implement the `list_collection` method.

[2022-02-01 22:52] pcorpet commented on #724
There are two problems in mongomock to run your query:
1. our update method doesn't handle the array_filters kwarg: we should accept it
2. array filters are not implemented.
1 is a bug, but 2 would actually be a feature to be added to mongomock. Feel free to contribute.

[2022-02-01 23:03] pcorpet commented on #729
Your code will now properly send a `NotImplementedError`, I'll keep this issue open to track the implementation of the feature if anyone wants to give it a try.

[2022-02-02 06:34] pcorpet commented on #724
What is left is now a duplicate of #567

[2022-02-02 06:34] #724 closed, assigned to nobody

[2022-02-02 06:36] #718 closed, assigned to nobody

[2022-02-02 08:58] #750 closed, assigned to nobody

[2022-02-02 10:13] niklasj opened #752 "find_one() with projection returns references to actual (nested) db values"
When a projection is supplied to `find()` or `find_one()` the returned values are the same objects as in the database, meaning the stored values can be indirectly modified:

[code]

[2022-02-02 10:14] pcorpet commented on #752
Duplicate of #728

[2022-02-02 10:15] #752 closed, assigned to nobody

[2022-02-02 23:16] wanmeihuali opened #754 "Bug? Behavior different with mongo when using $arrayElemAt with index out of range."
From mongodb's document: https://docs.mongodb.com/manual/reference/operator/aggregation/arrayElemAt/
If idx exceeds the array bounds, [$arrayElemAt](https://docs.mongodb.com/manual/reference/operator/aggregation/arrayElemAt/#mongodb-expression-exp.-arrayElemAt) does not return a result.

However, mongomock seems didn't check the out of range case. if the idx exceeds the array bounds, it throws an

[2022-02-03 07:55] pcorpet commented on #754
Thanks for reporting. PRs are welcomed including regression tests to make sure the behavior between pymongo + MongoDB and mongomock stays in sync.

[2022-02-06 15:21] #673 closed, assigned to nobody

[2022-02-06 19:09] pcorpet commented on #754
This will probably be fixed by #646

[2022-02-06 19:15] pcorpet commented on #754
@wanmeihuali can you check that the fixes work for you please? If so, I'll close this issue.

[2022-02-06 19:54] wanmeihuali commented on #754
The problem is solved, Thanks!

[2022-02-06 19:54] #754 closed, assigned to nobody

[2022-02-07 05:06] Rohitrana124 commented on #598
did you solve this problem

[2022-02-08 20:42] #677 closed, assigned to nobody

[2022-02-10 11:43] #728 closed, assigned to nobody

[2022-02-10 12:47] pcorpet commented on #715
Fixed by #716

[2022-02-10 12:47] #715 closed, assigned to nobody

[2022-02-11 07:32] thequilo opened #758 "enable_gridfs_integration broken for Python 3.10"
Python 3.10 changed the way builtins are found at execution time (https://docs.python.org/3/whatsnew/3.10.html):

So, now the `isinstance` check in `GridFS.__init__` is not patched correctly. Example (only fails for Python 3.10):

[code]
raises:

[code]

[2022-02-11 08:34] pcorpet commented on #758
Thanks a lot! I was investigating that yesterday, and couldn't pinpoint the exact change.

[2022-02-11 10:50] #730 closed, assigned to nobody

[2022-02-11 20:32] cypherlou opened #759 "Support `.$id` and other fields of `DBRef` objects."
Hi MongoMock team.

I've been using your brilliant library for a while and have recently encountered an issue when producing test cases for [Beanie with Linked documents](https://roman-right.github.io/beanie/tutorial/relations/).

[code]

When attempting to create a linked document I get the following error;
[code]

I have resolved the problem with the following change to `beanie/odm/documents.py`

[2022-02-15 16:51] oekstein commented on #720
Just encountered the same problem..  Any update on this issue?

[2022-02-15 16:55] pcorpet commented on #720
Thanks for reporting this. Handling key with dots is not supported by `mongomock` yet. PRs are welcomed though.

[2022-02-15 19:53] eniolakunle opened #760 "Read Preference error"
Hi,

Trying to upgrade my teams version of pymongo to 2.9.5, and running into this error within our tests, and its coming from mongo mock?

Any ideas whats happening? Can't find much online.

[code]

[2022-02-16 08:48] pcorpet commented on #760
We do not support `pymongo` v2.9.5. I think this is because we check for some properties of ReadPreference class that was added later. Is it possible for you to update to a more recent version of pymongo? or use an older version of monogmock?

[2022-02-16 16:25] eniolakunle commented on #760
Thanks for the response! We can't upgrade past 3 at moment, but I will try an older version of mongomock and see. We are using 3.19.0 currently.

[2022-02-17 15:40] eniolakunle commented on #760
Using mongo mock 3.7.0 seems to have gotten me past this error. Thanks!

[2022-02-17 15:40] #760 closed, assigned to nobody

[2022-02-17 22:50] pcorpet commented on #758
Would you mind reviewing #761 @thequilo please?

[2022-02-20 22:48] #758 closed, assigned to nobody

[2022-02-21 07:27] thequilo commented on #758
Thank you!

[2022-02-21 15:51] thequilo commented on #758
Do you have any idea how long it is going to take until this fix is on PyPi?

[2022-02-22 22:39] #694 closed, assigned to nobody

[2022-02-22 23:05] denivyruck commented on #759
Isn't this an issue with `mongomock-motor` then? Seems [they're not copying the name](https://github.com/michaelkryukov/mongomock_motor/blob/2a3c9d8187afacb873b8cd3bf258d3731704baf7/mongomock_motor/__init__.py#L44)

[2022-02-26 16:41] cypherlou commented on #759
Hey @denivyruck, thanks for the response. I'll pop over and see what the `mongomock-motor` guys say/think. 👍

[2022-02-28 07:35] gautamvij94 commented on #688
Hey, is there any update/suggestive way to fix this ? Will give a PR if some guidance can be provided.

If not, is there a quick fix/hack @alexgawrilow you did in the meantime ?

[2022-02-28 08:05] alexgawrilow commented on #688
@gautamvij94 Unfortunately, I did not find a way to fix or workaround it.

Since the error results from  mongomock trying to add an integer to a datetime object, what could help would be to check the type of the objects and if one of them is a datetime object, to convert the integers into timedeltas (with the correct unit, I think ms) and then add the objects together.

[2022-03-01 10:48] michaelkryukov commented on #759
[code]

This test case works with mongo 5, 4 (and fails on 3 because of field name '$id'), but fails with `mongomock`.

As far as I can tell, `mongomock` can't properly handle `DBRef` objects – `get_value_by_dot` should implement something like:

[code]

and `_handle_lookup_stage` should use `get_value_by_dot` with `can_generate_array=True`. I made another test case for singular `DBRef` – it also

[2022-03-01 21:59] denivyruck commented on #688
@pcorpet any objections to open the `sum` and check for datetimes? If performance is a concern we could try first the pure `sum(...)` and optimize for datetime in the `except`.
[code]

[2022-03-03 17:02] plemetay opened #763 "timeseries support"
Hello,

it's seems that timeseries are not supported by mongomock.

[code]

triggers

[code]

Any plan in the pipe to support this ?

Thanks

[2022-03-07 12:42] pcorpet commented on #763
Hi @plemetay , no there are no plan to support new features. Pull requests are welcome though.

[2022-03-09 16:20] Kalbi commented on #745
Hello, I'm bumping this as I believe not being able to specify UUID representation w/ `mongomock` is the reason for my tests to be breaking with `pymongo` v4.

I tried sanity checking this by making some DB queries, updates, and additions, and was successful. I am currently using `mongoengine` `v0.24.0` which falls back to `PYTHON_LEGACY`, which is presumably why it works. I am only failing my uni

[2022-03-09 17:14] vgunja-27 opened #764 "admin.command("ismaster")"
Mocking functionality not available for validating primary.

client.admin.command("ismaster")

Are we planing to add this near future ?

[2022-03-10 20:38] jjaviergalvez commented on #536
Hi guys. Thanks for this amazing library. Any update on this?

[2022-03-22 09:28] oorijsonar opened #765 "drop_database doesn't drop system collections"
Reproduction:
[code]

Expected:
No output.

Actual:
[code]

This is because the implementation of `drop_database` calls `list_collection_names` and:
[code]

version: `mongomock==4.0.0`

[2022-03-25 14:25] sschiessl-bcp commented on #736
I have the code in my post above running in production wihtout error. Can you please present an example when it fails?

[2022-03-28 15:44] oorijsonar commented on #765
@pcorpet can you confirm that this is actually a bug and I can try to fix it?

[2022-03-29 20:17] pcorpet commented on #765
Yep, this sounds like a bug.

[2022-03-29 20:19] pcorpet commented on #764
PRs are welcomed. There is no roadmap for this project, please read the main page: we don't intend to provide feature parity, only the features requested (and implemented) by the community.

[2022-05-02 21:13] d2davidtb opened #771 "Add support for '$merge' operator in aggregate pipeline"
When I want to test my development using merge operator, this error occurs:

[code]
It generates this exception:

`NotImplementedError: Although '$merge' is a valid operator for the aggregation pipeline, it is currently not implemented in Mongomock.`

Checking the pipeline handlers of mongomock library, they only exist:

[code]

This same error exists with 'lookup' operator, but that appears in th

[2022-05-07 14:19] michaelkryukov opened #773 "Details for DuplicateKeyError"
Currently mongomock raises DuplicateKeyError with details as None, but some codebases use this field to determine what fields actually caused error.

Example:
https://github.com/Scille/umongo/blob/master/umongo/frameworks/motor_asyncio.py#L190

It's pretty simple to add basic support for `keyPattern` and `keyValue` (https://github.com/mongomock/mongomock/blob/develop/mongomock/collection.py#L546),

[2022-05-10 03:21] theahura opened #774 "Best Practices Question re: Updates"
Thanks for this really cool project!

I was looking for a way to apply updates to a document using mongo syntax. I don't necessarily need collection level operations or anything like that. I know that this project is primarily for testing purposes, but I was wondering if there was an easy way to get at just the update logic -- a function where I could essentially pass in the doc and the update and

[2022-05-12 19:14] theahura commented on #694
We're running into this issue using a TTL Index on mongomock. Does the lock added here only work for updates?

[2022-05-12 19:50] theahura commented on #774
I ended up making a lot of independent progress (documented here: https://stackoverflow.com/a/72210717/3269537) so I can close this.

[2022-05-12 19:50] #774 closed, assigned to nobody

[2022-05-17 18:17] jgreub opened #775 "Potential $unionWith aggregate implementation"
Hey, our team has been using mongomock for one of our python/django projects.  We happen to use the `$unionWith` aggregate operator a lot, and we noticed that this library currently does not support it.

We've written this code as a handler for `$unionWith` that appears to work for us:

[code]

I'm currently not planning on making a PR for this library, but I thought I'd at least share this code i

[2022-05-19 17:54] elanou commented on #745
pymongo 4.0+ requires you to set uuidRepresentation along with other options on client initialization. This is not supported in mongomock and breaks unittests that once relied on the legacy behavior of uuidRepresentation 3 (pythonLegacy).

This should be added along side other kwarg options such as 'tzinfo' and 'tz_aware'.

Poking around I was able to make it work by updating collection.py to pass

[2022-05-20 13:41] terrynguyen255 opened #776 "Cannot save new records into DB"
I think this is a critical bug.

**Description:**
Records are not inserted properly after dropping the collection

**Code:**
[code]

[code]

[2022-05-20 13:52] terrynguyen255 commented on #776
Can be worked around by changing
[code]
The bug maybe related to objects pointers

[2022-05-26 11:53] vellala2000 opened #777 "db update_one operation with $set and $elemMatch with dictionary object raises unknown toplevel operator $elemMatch error"
database collection has one document to start with
[code]

attempt to update the sub document with $elemMatch
[code]
# Expected
 works with mongo db and updates matching sub document

# Actual
fails with mongo mock with below error in filtering.py. looks like filtering is getting a subspec query from collections.py and its not able to handle $elemMatch at top level

[code]
Note: in my original doc

[2022-06-02 12:07] TomLatin opened #778 "Add support to $toDate"
**For reference:**
1. https://www.mongodb.com/docs/manual/reference/operator/aggregation/toDate/
2. https://www.mongodb.com/docs/v5.2/reference/operator/aggregation/map/

[2022-06-07 14:34] 0ssigeno opened #779 "Add support for $search"
I know its a pay-for-use feature of Atlas, but since a lot of new projects are starting to use that, I think that is reasonable (not considering the hard work that will be behind the creation of this) to support even this aggregation

[2022-06-27 14:26] TiborVoelcker opened #782 "Mutating DBRef from the database will mutate the database itself"
I think I found an error which really screwed with my head until I found out what was happening.

When using the `mongomock.MongoClient`, mutating a `DBRef` which was retrieved from the database will mutate the `DBRef` in the database as well.

I think its easier to explain by a MWE:
[code]

[2022-07-01 19:22] kepricon opened #783 "support $week(aggregation)"
Hi Team,
Thank you for developing Mongomock.

I've used mongomock to write a unit test code for my mongo fetch data pipeline.
My fetch data code has `aggregate` and we use a couple of aggregate functions such as [$week](https://www.mongodb.com/docs/manual/reference/operator/aggregation/week/).

I got the error message below during the test.
AttributeError: 'dict' object has no attribute 'strftime'

[2022-07-05 17:49] kepricon commented on #783
Hi @pcorpet
It looks like mongomock supports `{ $week: <dateExpression> }` format
but doesn't support `{ date: <dateExpression>, timezone: <tzExpression> }` format.

ref: https://www.mongodb.com/docs/manual/reference/operator/aggregation/week/

can you confirm that?

if so, do you happen to have a plan to support this format in the next release?

Thank you.

[2022-07-06 13:54] scottbelden opened #785 "Will there be a new release soon?"
I think I'm running into this issue which looks like it has been fixed but not released: https://github.com/mongomock/mongomock/issues/758

Are there plans to create a new release soon?

[2022-07-06 14:14] pcorpet commented on #785
Yes, I'd like to release one before next week. I want to close some of the open pull requests that don't require a lot of work before. Please ping me again next week if nothing happens, I'll do a partial release then.

[2022-07-06 15:02] scottbelden commented on #785
Thanks! I'll try to remember to ping if it is needed.

[2022-07-06 15:45] TheBatmanofButler commented on #785
Hi, I love your library! I just wanted to mention that I am also running into an issue that is fixed but not yet released: https://github.com/mongomock/mongomock/pull/695

Looking forward to the next release.

[2022-07-07 06:56] #683 closed, assigned to nobody

[2022-07-07 07:51] pcorpet commented on #783
Hi @kepricon , we accept PRs but do not implement all features, see https://github.com/mongomock/mongomock#important-note-about-project-status--development

[2022-07-07 08:02] pcorpet commented on #778
`$map` was added in #738

For `$toDate`, PRs are welcome. Please see https://github.com/mongomock/mongomock#important-note-about-project-status--development

[2022-07-07 08:32] #765 closed, assigned to pcorpet

[2022-07-07 08:32] #777 closed, assigned to pcorpet

[2022-07-07 09:38] #687 closed, assigned to nobody

[2022-07-07 16:06] pcorpet commented on #785
Here you go, https://github.com/mongomock/mongomock/releases/tag/4.1.2

[2022-07-07 16:06] #785 closed, assigned to nobody

[2022-07-07 18:13] scottbelden commented on #785
Thanks!

[2022-07-07 22:23] pcorpet commented on #759
Hi, I'm not familiar with `beanie` nor with `motor`. Given your last comment, the bug seems to be connected to usage of `DBRef` in `mongomock` and the use of the magic `$id`, `$db` or `$ref` on it. I'll update the bugs title.

[2022-07-08 06:14] pcorpet commented on #748
Fixed by #749

[2022-07-08 06:14] #748 closed, assigned to nobody

[2022-07-08 13:48] #722 closed, assigned to pcorpet

[2022-07-08 15:04] pcorpet commented on #719
OK, this seems due to #759 as well.

[2022-07-08 15:04] #719 closed, assigned to nobody

[2022-07-08 16:11] vellala2000 commented on #777
Thank you for the fix @pcorpet

[2022-07-12 05:57] pcorpet commented on #783
Fixed by #791, thanks @kepricon

[2022-07-12 05:57] #783 closed, assigned to nobody

[2022-07-12 19:11] Yergidy opened #792 "Positional $ update_one doesn't update different object levels correctly"
When using the positional $ operator to update multiple properties in an array of nested objects if you supply different levels of object nesting it will only take the first level specified and applies it to all properties. Pymongo on an actual db correctly updates the object.

For example:
For an original object of:
[code]
With the following update_one call:
[code]
Returns the following in mongom

[2022-07-12 23:50] joshuashaffer commented on #745
@elanou Is this similar to the hack you did?

https://github.com/joshuashaffer/mongomock-uuid-pymongo4/commit/64a5551629bbf2506004eac47ce27daf54d094fc

[2022-07-14 14:15] joshuashaffer commented on #745
https://github.com/joshuashaffer/mongomock-uuid-pymongo4/commit/5944358bdc3577f5515dcbfd689728ca9a4834b4

Need to propigate codec_options in a few more places...

[2022-07-15 18:46] mbrown-bhe opened #794 "Projection Operator only projections dropping all other fields"
Hi Mongomock team,

When a projection is applied that only contains projection operators (like `$slice`), mongomock incorrectly drops all other fields except `_id`.

[code]

However adding a single suppression field returns the correct result.
[code]

This seems to be because projection operators are remove from the projection field list and then, if the projection field list is empty, a projectio

[2022-07-18 01:16] rawmarshmellows commented on #569
You can do something like:

[code]

[2022-08-09 12:02] Joe5K opened #798 "partialFilterExpression is not added to index in mocked collection"
Parameter partialFilterExpression is [not added](https://github.com/mongomock/mongomock/blob/develop/mongomock/collection.py#L1540) to newly created index in mocked collection:
[code]
 which results in function [_ensure_uniques](https://github.com/mongomock/mongomock/blob/develop/mongomock/collection.py#L529) throwing an error when checking uniqueness:
[code]

Fixed in a Pull Request https://githu

[2022-08-10 00:49] theahura opened #799 "KeyError with TTL Index"
I am getting intermittent Key Errors when I use mongomock with a TTL index. I have a simple find call, like so:
[code]
which results in the following stack trace:
[code]

It looks like mongomock is getting tripped up by keys that are already expired? Unfortunately it's hard to pin down/create a minimum repro for this because it's pretty inconsistent as to when it occurs.

[2022-08-11 18:21] kyleposluns commented on #244
Any plans on adding support for this?

[2022-08-11 19:42] elbehery95 commented on #244
@kyleposluns  I was trying to add this in https://github.com/mongomock/mongomock/pull/767 using proxy pattern. But PR was not active

[2022-08-11 21:10] kyleposluns commented on #244
@elbehery95  Well, I would still love to see this added at some point.

[2022-08-12 07:31] plaan opened #800 "Feature request: support `$size` as projection operator"
Mongo supports `$size` as a projection operator, for example in the following query:

[code]

As far as I know the only supported projection operators in mongomock are: `{'$elemMatch', '$slice'}`. It would be great if `$size` can be added as well.

[2022-08-18 10:00] Greeengooo opened #801 "Feature request: Support uuid representation"
Hi @pcorpet!
I need to update pymongo to a new version 4.2.0. However, as I can see mongomock does not support custom uuid representations yet. Consequently, unit test are failing with `UNSPECIFIED representation` error. This feature will be really handy and it will unblock a lot of people.
Thanks for your work!

[2022-08-19 15:05] pcorpet commented on #801
I think this is a dupe of #745

[2022-08-19 15:49] #801 closed, assigned to nobody

[2022-08-22 10:23] stur86 opened #802 "list_database_names should return ["db"]"
Right now, `list_database_names` for a newly created `mongomock.MongoClient` returns an empty list. This creates a discrepancy with the fact that the mock client does in fact have a `db` Database, and it can cause problems if the code relies on this method.

[2022-08-23 12:24] pcorpet commented on #802
I cannot reproduce:

[code]

Which versions are you running (Pyhon, Mongomock, Pymongo if any) please?

[2022-09-07 17:29] galaira opened #803 "Nesting a $map and a $sum does not work"
Hey !
First thanks for all the job !

I encountered an error using pytest-mongodb using Python 3.9.7, pytest-mongodb==2.2.0, mongomock==4.1.2.
Using a $map operator after a $sum doesn't seem to work. The result of the sum is always 0.

Exemple, consering the next collection "test_mongomock":
`
[
    {
        "_id": {"$oid": "5e2f1b3aebbda19c42fd7187"},
        "my_array": [
            {"id": 0,

[2022-09-12 15:39] kyleposluns commented on #244
I am currently using proxy pattern to get this to work, but I'd still like this to be supported in mongomock please!

[2022-09-18 08:48] planetyossi opened #804 "add support for $reduce"
As part of writing tests I have encounter that $reduce is not implemented.
Is there any plan for this operator to be release soon?

[2022-10-02 14:34] ishefi opened #806 "add support for $setWindowFields aggregation operator"
When I want to test my development using merge operator, this error occurs:

[code]

Python version: 3.8.13
Mongomock version: 4.1.2

[2022-10-05 02:30] nickchen1998 opened #807 "$indexOfArray NotImplementedError"
`NotImplementedError: Although '$indexOfArray' is a valid array operator for the aggregation pipeline, it is currently not implemented in Mongomock.`

[2022-10-05 09:54] nickchen1998 opened #808 "$stdDevSamp NotImplementedError"

[2022-10-07 07:30] cvmartin commented on #536
I can confirm that the branch `lookup-let` fixes the issue, at least for me. Looking forward to see it released.
(edited)

[2022-10-12 03:56] lawrenceong commented on #802
@pcorpet The question is probably more along the line of, if we use the example of `mongoengine` as per https://docs.mongoengine.org/guide/mongomock.html, it mentioned:

[code]

The first parameter there is `mongoenginetest` which is the database name.  Why can't we see the database when we do `list_database_names` using the client?  For example:

[code]

Was expecting `["test"]`

[2022-10-13 04:40] abhikhedekar4241 commented on #536
Wouldn't merging `lookup-let` fix this?

[2022-10-13 19:39] tarekyz commented on #536
Hey @pcorpet, the branch `lookup-let` fixes the issue really well. Do you have plans on releasing this?

[2022-10-19 10:23] plaan opened #810 "TypeError: CodecOptions got an unexpected keyword argument"
The following exception is raised when using pymongo 4.3.2 but it worked for pymongo 4.2:

[code]

With the following code snippet (pymongo 4.3.2, mongomock 4.1.2):
[code]

[2022-10-20 12:22] engFelipeMonteiro opened #811 "[4.1.2] - TypeError: 'Collection' object is not callable."
I have some test that I have been developed in past few month, when updated the mongomock to version 4.1.2 a  test I have started to failed.

    coll = db.collection
    coll.update({params})

it gives me the following error:

    TypeError: 'Collection' object is not callable. If you meant to call the 'update' method on a 'Collection' object it is failing because no such method exists.

I was us

[2022-10-26 02:26] PyDR-Tool opened #812 "Project dependencies may have API risk issues"
Hi, In **mongomock**, inappropriate dependency versioning constraints can cause risks.

Below are the dependencies and version constraints that the project is using

[code]

The version constraint **==** will introduce the risk of dependency conflicts because the scope of dependencies is too strict.
The version constraint **No Upper Bound** and **\*** will introduce the risk of the missing API Err

[2022-10-26 15:10] fschneider-wedge opened #813 "Implement '$mergeObjects' please"
Hi,

First of all, congratulation, this module is so helpfull for testing.

Today, I've got this error : `NotImplementedError: '$mergeObjects' is a valid operation but it is not supported by Mongomock yet.`

I need it for testing a mongo query that I cannot update.

Do you plan to implement it soon ?

Or there is a reason why is not yet supported ?

May be there is an alternative ?

Thanks

[2022-10-27 19:33] tkutcher commented on #810
Having same issue. pymongo added an extra parameter to their CodecOptions (see release notes https://pymongo.readthedocs.io/en/stable/changelog.html#changes-in-version-4-3-4-3-2). mongomock will need to update their CodecOptions class to match.

What I did as a workaround was actually patch my import of CodecOptions to use mongomock's CodecOptions for my tests.

So something like:

[code]

That wa

[2022-11-05 16:26] phil20686 opened #814 "When inserting, mongo mock treats frozen dicts differently from dicts"
Consider the following two test cases:

[code]

The first case succeeds but the second case fails, even though both succeed using pymongo against a real dataqbase. I believe that the only change necessary here is that in a number of places, isinstance(doc, dict) needs to be changed to isinstance(doc, typing.Mapping) to bring the behaviour into line. In particular, there is such a case in mongomock

[2022-11-07 14:11] JPDevelop opened #818 "$slice doesn't parse inner expressions"
When using slice with an inner expression in the 2 last array indexes, it doesn't parse them.

How to reproduce:
[code]
The following exception is thrown:

`pymongo.errors.OperationFailure: Second argument to $slice must be numeric, but is of type: <class 'dict'>`

[2022-11-08 07:32] JPDevelop commented on #804
Your wish has been granted

[2022-11-08 16:49] JPDevelop commented on #806
Your wish shall be granted (partially)

[2022-11-08 17:13] planetyossi commented on #804
Thank you! much appreciated

[2022-11-17 02:12] lfoppiano commented on #569
@kevinlu1211 could you give some additional background information? Where should this code be placed?
I tried to place it inside the test file but it doesn't seems to work. Thank you!